body
{
background-color: mediumspringgreen;
}

h1
{
    color: black( 38, 0, 255);
    background-color: cornsilk;
}

#show_sketch
{
    float: right;
}

canvas
{
    border: 5px solid white;
    border-radius: 25px;
    animation-name: example;
    animation-duration: 5s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from {box-shadow: 1px 5px 40px lime;}
    to {box-shadow: 1px 5px 40px rgb(134, 161, 93);}
}

p
{
padding-top: 10px;
font-size: 25px;
}